{{> header_banner}}
{{> flash_messages}}
<section class="parent-profile__header">
  <h3 class="parent-profile__header__title">Welcome Parent</h3>
  {{#if name}}
  <p>{{name}}</p>
  {{/if}}
  <a class="parent-profile__logout" href="/logout">Logout</a>
</section>

<section class="parent-profile__anchors">
  <a class="parent-profile__links" href="/add_child_page">Add child</a>
  <a class="parent-profile__links" href="/add_da_page">Add designated adult</a>
  <a class="parent-profile__links" href="/schedule_pickup">Schedule a pickup</a>
</section>


<section class="scheduled__parent">
{{#if parse_query_result}}
{{#each parse_query_result}}
  <ul class='scheduled__pickup__parent'>
    <li class='pickup__parent__date'>Date: {{formatDate this.pickup_date}}</li>
    <li class='pickup__parent__child'>Child: {{this.child_name}}</li>
    <li class='pickup__parent__da'>Designated adult: {{this.da_name}}</li>
  </ul>
{{/each}}
{{else}}
  <p class="scheduled__pickup__parent-none">You currently have no scheduled pickups.</p>
{{/if}}
</section>
