{{> header_banner}}
{{> flash_messages}}
<section class="parent-profile__header">
  <h3 class="parent-profile__header__title">Welcome   {{#if name}}
    <span>{{name}}</span>
    {{/if}}</h3>
  <a class="parent-profile__logout" href="/logout">Logout</a>
</section>

<section class="parent-profile__anchors" id="anchors">
    <a href="#" class="parent-profile__links" id="view_upcoming">Upcoming schedules <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  <a class="parent-profile__links" href="/add_child_page">Add child <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  <a class="parent-profile__links" href="/add_da_page">Add designated adult <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  <a class="parent-profile__links" href="/schedule_pickup">Schedule a pickup <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  <a class="parent-profile__links" href="/view_DA">My designated adults<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    <a class="parent-profile__links" href="/view_children">My children <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
</section>
<section class="scheduled__pickup" id="scheduled_pickup">
  <h3 class="scheduled_pickup__heading">Current schedules</h3>
{{#if parse_query_result}}
{{#each parse_query_result}}
  <ul class='scheduled__pickup__parent'>
    <li class='pickup__parent__date'>Date: {{formatDate this.pickup_date}}</li>
    <li class='pickup__parent__child'>Child: {{this.child_name}}</li>
    <li class='pickup__parent__da'>Designated adult: {{this.da_name}}</li>
  </ul>
{{/each}}
{{else}}
  <p class="scheduled__pickup__parent-none">You currently have no scheduled pickups.</p>
{{/if}}
  <a href="/parent_profile" class="parent_profile__back">Back</a>
</section>

<section class="children__details">
{{#if parse_query_result}}
{{#each parse_query_result}}
  <ul class='children__details__list'>
    <li class='children__details__name'>Name: {{this.first_name}}</li>
    <li class='children__details__lastname'>Last Name: {{this.last_name}}</li>
  </ul>
{{/each}}
{{else}}
  <p class="children_details-none">You currently have no children added.</p>
{{/if}}
</section>

<section class="DA__details">
{{#if parse_query_result}}
{{#each parse_query_result}}
  <ul class='DA__details__list'>
    <li class='DA__details__name'>Name: {{this.first_name}}</li>
    <li class='DA__details__lastname'>Last Name: {{this.last_name}}</li>
  </ul>
{{/each}}
{{else}}
  <p class="DA_details-none">You currently have no designate adults added.</p>
{{/if}}
</section>
