{{> header_banner}}
{{> flash_messages}}
<section>
  <h3>Welcome</h3>
</section>

<form class="school__profile__form" action="/pick_date" method="post">
<label for="school__profile__calendar" class="">Choose a different date: <input type="date" value="" name='calendar__date' class="school__profile__date"></label>
<label for="school__profile__submit" class=""><input type="submit" value="Enter" class="school__profile__form__submit"></label>
</form>

<section class="scheduled__school">
{{#if query_result}}
{{#each query_result}}
  <ul class='scheduled__pickup__school'>
    <li class='pickup__school__date'>Date: {{formatDate this.pickup_date}}</li>
    <li class='pickup__school__child'>Child: {{this.child_first_name}} {{this.child_last_name}}</li>
    <li class='pickup__school__da'>Designated adult: {{this.da_first_name}} {{this.da_last_name}}</li>
    <li class='pickup__school__keyword'>Keyword: {{this.keyword}}</li>
  </ul>
{{/each}}
{{else}}
  <h3>There are currently no scheduled pickups organised.</h3>
{{/if}}
</section>

<a class="school-profile__logout" href="/logout">Logout</a>
