<!DOCTYPE html>
<html>


{{> head}}


<body>
  <section>
    {{#if name}}
    <p>{{name}}</p>
    {{/if}}
  </section>
  <section>
    {{#if success}}
    <p>{{success}}</p>
    {{else if error_msg}}
    <p>{{error_msg}}</p>
    {{/if}}
  </section>
  {{{body}}}

  <script type="text/javascript" src="/build/index.js"></script>
</body>


</html>
